.App {
  text-align: center;
}

.App-logo {
  border: 2px solid dimgrey;
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.greeting-name {
  color: #c2c2c2;
  margin: 10px 20px;
  padding: 0;
  font-weight: 400;
  text-shadow: 5px 5px #21252b;
  user-select: none;
  letter-spacing: 1px;
}

.tagline,
.welcome {
  color: #909295;
  margin: 5px;
  font-weight: 400;
  height: 45px;
}

.welcome {
  color: inherit;
}

footer {
  left: 0;
  width: 100vw;
  bottom: 0;
  height: 22px;
  display: flex;
  position: fixed;
  background: #21252b;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  justify-content: space-between;
}

.master-link {
  color: #abb2bf;
  display: flex;
  text-decoration: none;
  font-size: 0.8rem;
}

.silent-link {
  text-decoration: none;
}

.master-link img {
  width: 10px;
  padding-left: 10px;
  padding-right: 5px;
}

.bi-bell {
  width: 13px;
  padding-right: 10px;
}

.sidebar {
  width: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  background-color: #333842;
}

.sidebar img {
  width: 30px;
  padding-top: 25px;
}